<!DOCTYPE html>
<html>
<head>
 <title>Викторина</title>
</head>
<body>
<h1>Добро пожаловать в викторину!</h1>
<form action="/quiz" method="POST">
 <label for="q1">В каком году была основана Москва?</label>
 <input id="q1" name="q1" type="text"><br>

 <label for="q2">Какой город является столицей Франции?</label>
 <input id="q2" name="q2" type="text"><br>

 <label for="q3">Как зовут главного героя романа 'Преступление и наказание'?</label>
 <input id="q3" name="q3" type="text"><br>

 <input type="submit" value="Отправить">
</form>
</body>
</html>
